

.navwrapper3{

    top: 200vh;
}
.navwrapper3 .logo{
    font-family:'cyberpunk',sans-serif;
    margin-left: 2vw;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2em;
    margin-top: 1vh;



}

.navwrapper3 .nav ul{
    color: rgb(0, 0, 0);
}
.navwrapper3.nav ul li:hover{
    color: rgb(97, 97, 97);
}

.mainimg3{
    position: relative;
    overflow: hidden;
    
}
.mainimg3 img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}