
/* navigation bar */


.navwrapper1 .logo{
    font-family: 'wukong',sans-serif;
    color: rgb(224, 224, 224);
}
.navwrapper1 .logo:hover{
    color: rgb(182, 182, 182);
}


.navwrapper1.nav ul{
    color: rgb(224, 224, 224);
}
.navwrapper1.nav ul li:hover{
    color: rgb(161, 161, 161);
}



/* main image */

.mainimgcontainer1{
    position: relative;
    top: 0;
    overflow: hidden;
    /* width: 100vw; */
    height: 100vh;
}

.backgroundimg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.cutoutcontainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    animation: viewanimationhorizontal 0.5s ease-out;
}
.cutout{
    z-index: 0;
    height: 100vh;
    object-fit: cover;
    /* transition: transform 0.5s ease,filter 0.3s ease-in,animation ease-in 0.5s ; */
    transition: transform 0.5s ease,animation ease-in 0.5s;
    filter: drop-shadow(0 0 0px #ffedd8);

}

.blurlayer{
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.2s ease-out;
    /* transition: filter 0.2s; */
}
.hoverarea1{
    position: absolute;
    bottom: 0;
    z-index: 3;
    margin-left: 4vw;
    width: 40vw;
    height:60vh;
    /* background-color: aliceblue; */
    transition: transform 0.2s;
}
.hoverarea2{
    position: absolute;
    top: 10vh;
    z-index: 3;
    margin-left: 4vw;
    width: 20vw;
    height:30vh;
    /* background-color: rgb(0, 136, 255); */
    transition: transform 0.2s;
}
.hoverarea1:hover ~ .cutout,.hoverarea2:hover ~ .cutout{
    /* filter: drop-shadow(0 0 20px #fffbd8); */
    transform: scale(1.05);
    z-index: 2;
    animation: glowanimation 1s ease-out alternate infinite;
    animation-delay: 0.025s;
}

.hoverarea1:hover  ~.blurlayer ,.hoverarea2:hover  ~.blurlayer{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}




/* content */
.contentleft{
    gap: 12vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    left: 3vw;
    font-family: 'wukong',sans-serif;
    font-size: 1.7vw;
    color: rgb(224, 224, 224);
    z-index: 1;
    align-items: start;
    cursor:default;
    animation: viewanimationvertical 0.5s ease-out;

}
.contentleft .bigtext{
    font-size: 4.5em;
}
.record1,.record2{
    display: flex;
    flex-direction: column;
    align-items: start;
}


.reviews{
    text-align: end;
    font-size: 2vw;
    width: 25vw;
    top: 20vh;
    right: 4vw;
        color: rgb(224, 224, 224);
    position: absolute;
    z-index: 1;
    font-family: 'wukong',sans-serif;
    display: flex;
    flex-direction: column;
    cursor:default;
    animation: viewanimationvertical 0.5s ease-out;

}

.reviewdescription{
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    text-align: end;
}
.available_on{
    font-size: 0.8vw;
    line-height: 1.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins',Times New Roman, Times, serif;
    font-weight:500;
    position: absolute;
    top: 80vh;
    right: 4vw;
    color: rgb(224, 224, 224);
    cursor:default;
    animation: viewanimationvertical 0.5s ease-out;

}
.logos{
    display: flex;
}
.logos a img{
    width: 3em;
    transition: opacity;
    transition-duration: 0.3s;

}
.logos a img:hover{
    opacity:0.8;
}

.logos{
    display: flex;
}
.logos img{
    width: 3em;
} 