

.navwrapper2{
    top: 100vh;
}
.navwrapper2 .logo{
    font-family:'valorant',sans-serif;
    color: rgb(224, 224, 224);
}
.navwrapper2.nav ul{
    color: rgb(224, 224, 224);
}
.navwrapper2.nav ul li:hover{
    color: rgb(161, 161, 161);
}

.mainimg2{
    position: relative;
    overflow: hidden;
    
}
.mainimg2 img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}